.button-F,
.button-C {
  margin: 5px;
  margin-top: 20px;
  padding: 10px 15px;
  text-align: center;
  background: #f2f7ff;
  border-radius: 20px;
  border-color: #001e47;
  border-width: 2px;
}
.submit-button:hover,
button:hover {
  background-color: #001e47;
  color: #ffffff;
  transition: all ease-in 150ms;
}
.tempC,
.tempF {
  display: inline;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: #001e47;
}
