p {
  display: block;
  margin-left: 12px;
  margin-bottom: 8px;
  color: #001e47;
}
.date-time {
  margin: 30px 20px 10px 30px;
  text-align: center;
  float: right;
}
ul {
  padding: 10px;
  margin: 10px;
  margin-top: 40px;
  list-style: none;
  text-align: left;
  line-height: 30px;
  color: #001e47;
  border-style: solid;
  border-color: #001e47;
  border-width: 2px;
  border-radius: 20px;
  float: right;
  position: sticky;
}
