body {
  background-color: #f2f7ff;
}
section {
  display: block;
  margin-top: 30px;
  margin-left: 30px;
  padding: 25px 20px;
  background-color: #ffffff;
  max-width: 700px;
  border-style: solid;
  border-color: #001e47;
  border-radius: 20px;
  border-width: 3px;
}
h1 {
  display: block;
  margin: 10px auto;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 40px;
  color: #001e47;
}
h2 {
  display: inline;
  margin: 10px auto;
  padding: 10px;
  font-size: 40px;
  color: #001e47;
}

p {
  display: block;
  margin-left: 12px;
  margin-bottom: 8px;

  color: #001e47;
}
input {
  display: inline;
  margin: auto;
  margin-right: 6px;
  border-color: #001e47;
  border-radius: 4px;
  border-width: 1.5px;
}
.submit-button {
  background-color: #f2f7ff;
  color: #001e47;
}
.date-time {
  margin: 20px 0 20px 0px;
}
ul {
  margin-top: 20px;
  list-style: none;
  text-align: left;
  line-height: 30px;
  color: #001e47;
}

.detail-icons {
  max-width: 40px;
  max-height: 40px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  background: #f2f7ff;
  border-radius: 20px;
  border-color: #001e47;
  border-width: 2px;
}
.submit-button:hover,
button:hover {
  background-color: #001e47;
  color: #ffffff;
  transition: all ease-in-out 150ms;
}
.section-2 {
  margin-top: 10px;
}
.sun-time {
  margin: 0 auto;
  text-align: center;
  color: #001e47;
  font-size: larger;
}
footer {
  display: block;
  margin-top: 270px;
  max-width: 700px;
  text-align: center;
  color: #001e47;
}
