body {
  background-color: #f2f7ff;
}
section {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 25px 20px;
  background-color: #ffffff;
  max-width: 700px;
  border-style: solid;
  border-color: #001e47;
  border-radius: 20px;
  border-width: 3px;
  font-family: "Baloo Bhai 2", cursive;
}
.section-2 {
  text-align: center;
  font-family: "Baloo Bhai 2", cursive;
}
.tempC,
.tempF {
  margin-bottom: auto;
  padding-left: 10px;
  font-size: 40px;
  color: #001e47;
}
.detail-icons {
  max-width: 40px;
  max-height: 40px;
}
.button-F,
.button-C {
  margin: 5px;
  padding: 10px 15px;
  background: #f2f7ff;
  border-radius: 20px;
  border-color: #001e47;
  border-width: 2px;
}
.submit-button:hover,
button:hover {
  background-color: #001e47;
  color: #ffffff;
  transition: all ease-in 150ms;
}
footer {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 700px;
  text-align: center;
  color: #001e47;
}
